@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Hide scrollbar for Chrome,Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox*/
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}

body {
  /* For smooth scrolling on iOS */
  -webkit-overflow-scrolling: touch;
}

.is-hide {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.is-show {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right,
    trasparent 0%,
    rgba(0,122,255,0.3) 50%,
    trasparent 100% );
  animation: shine 7s infinite;
}